<% content_for :title, 'Lojas' %>

<% content_for :actions do %>
  <%= link_to 'Nova Loja', new_shop_path, class: 'btn btn-success' %>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Token da API</th>
      <th> Madmimi - Api_Key </th>
      <th> Madmimi - Email </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% if @shops.empty? %>
      <tr><td colspan="3" class="text-center text-muted">Nenhuma loja cadastrada</td></tr>
    <% end %>
    <%= content_tag_for :tr, @shops.each do |shop| %>
      <td><%= link_to shop.name, edit_shop_path(shop) %></td>
      <td><%= shop.token %></td>
      <td><%= shop.madmimi_api_key %></td>
      <td><%= shop.madmimi_email %></td>
      <td class="text-right">
        <%= link_to content_tag(:span, nil, class: 'glyphicon glyphicon-pencil'), edit_shop_path(shop) %>
      </td>
    <% end %>
  </tbody>
</table>
