<!DOCTYPE html>
<html>
  <head>
    <title>Vnda-CRM</title>
    <%= stylesheet_link_tag '//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css',
                            'bootstrap-switch.min.css',
                            'jquery-ui.css',
                            'jquery.multiselect.css'
                             %>
    <%= javascript_include_tag '//code.jquery.com/jquery-2.1.1.min.js',
                               '//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js',
                               'jquery.mask.min.js',
                               'bootstrap-switch.min.js',
                               'jquery_ujs.js',
                               'jquery-ui.min.js',
                               'jquery.multiselect.js'
                                %>
    <style>
      .table.table-form th,
      .table.table-form td {
        padding: 6px;
      }
      .table.table-form th:first-child,
      .table.table-form td:first-child {
        padding-left: 0;
      }
      .table.table-form th:last-child,
      .table.table-form td:last-child {
        padding-right: 0;
      }
      header.page-header {
        margin-top: 0;
      }
      header.page-header h3 {
        margin-top: 0;
      }
    </style>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render 'layouts/navbar' %>

    <div class="container-fluid">
      <header class="page-header clearfix">
        <h3 class="pull-left"><%= content_for :title %></h3>
        <% if content_for? :actions %>
          <div class="pull-right"><%= content_for :actions %></div>
        <% end %>
      </header>

      <%= render 'shared/flash_messages' %>
      <%= yield %>
    </div>

    <script>
      $(function () {
        $('[type="checkbox"].switch').bootstrapSwitch();
      });
    </script>
  </body>
</html>
